/*HEADER*/

header {    
    width: auto;
    height: auto;
    margin: 10px;
    
}

/*LOGO*/
header section .nombreylogo {
    
    width: auto;
    height: auto;
    text-align: center;
}

.logo {
    width: 200px;
    height: 100px;

}





header section div img {
    width: 100%;
    height: 100%;
}


/*UBICACION Y TELEFONO*/
.tel-ubic{
    margin-left: 80px;
    display: flex;
    align-items: center;
    width: 500px;
    height: 80px;
    
}

.ubi {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid black;
    text-align: center;
}

/*REDES SOCIALES*/
.rrss {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

i {
    font-size: 40px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    color: #181e35;
    background-color: #fff;
}

i:hover {
    cursor: pointer;
    opacity: 80%;
}


/*BARRA DE BUSQUEDA*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }




nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
nav section .barrabusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    
}





article section {
display: flex;
flex-wrap: wrap;
justify-content: center;
}



/*TARJETAS*/
article section .card {
    
    width: 260px;
    height: 9cm;
    margin: 5px;
    transition: transform 0.3s ease;
    border-radius: 5%;
    background-color: #181e35;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}
.card.hidden {
    display: none;
}

.card:hover {
    transform: scale(1.30);
    cursor: pointer;
    z-index: 2;

    
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 5%;
    position: 
}

.card .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}
.card .back {
    background-color: #181e35; /* Color de fondo azul */
    transform: rotateY(180deg);
    border-radius: 5%;
    text-align: center;
    cursor: default;
    
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.contratar-button {
    margin-top: 20px;
cursor: pointer ;
    
}


/*FOOTER*/
footer {
    background-color: #181e35;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo para los iconos */
.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 90%;
}

form {
    display: flex;
    flex-direction: column;
}


/*formulario*/
.reserva-formulario { /* Agregamos una clase al formulario */
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reserva-formulario label,
.reserva-formulario input,
.reserva-formulario select {
    display: block;
    margin: 10px 0;
}

.reserva-formulario input,
.reserva-formulario select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reserva-formulario input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserva-formulario input[type="submit"]:hover {
    background-color: #0056b3;
}

/*barra de busqeuda*/

.barrabusqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;

    color: #ccc;
    background-color: #181e35;
}

.barrabusqueda select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtrosRapidos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtrosRapidos button {
    background-color: #181e35;
    color: #fff;
    padding: 10px 20px;
    
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.filtrosRapidos button:hover {
    opacity: 90%;
}
